<h3>Trang chi tiet</h3>

<form action="">

    <div class="mt-3">
        <span class="form-label" >id:</span>
        <input type="text" name="" id="" class="form-control" ng-model="dt.id" disabled>
    </div>

    <div class="mt-3">
        <span class="form-label" >name:</span>
        <input type="text" name="" id="" class="form-control" ng-model="dt.name" disabled>
    </div>


    <div class="mt-3">
        <span class="form-label" >hang:</span>
        <select class="form-control" name="" id="" ng-model="dt.hang" disabled>
            <option value="">--lua chon--</option>
            <option value="ipp">ipp</option>
            <option value="samsung">samsung</option>
            <!-- <option value="ipp">ipp</option> -->
        </select>
    </div>

    <div class="mt-3">
        <span class="form-label" >gia:</span>
        <input type="text" name="" id="" class="form-control" ng-model="dt.gia" disabled>
    </div>

    <div class="mt-3">
        <!-- <button ng-click="onClickCreate()" class="btn btn bg-success">tao moi</button> -->
        <a href="#!list" class="btn btn-secondary">quay lai</a>
    </div>
</form>