<!-- <h3> trang taoj moi</h3> -->

<!-- khu vuc tieu de trang -->
<h3> tao moi san pham</h3>

<!-- khu vuc noi dung form -->
<form action="">
    <!-- khu vuc id -->
    <div>
        <span class="form-label">ID: </span>
        <input ng-model="product.id" class="form-control" type="text">
    </div>
     <!-- khu vuc name -->
     <div>
        <span class="form-label">Ho ten: </span>
        <input ng-model="product.hoten"class="form-control" type="text">
    </div>
     <!-- khu vuc price -->
     <div>
        <span class="form-label">nam sinh: </span>
        <input ng-model="product.namsinh" class="form-control" type="text">
    </div>

    <!-- khu vuc category -->
    <div>
        <span class="form-label">chuyen nganh: </span>
        <select ng-model="product.chuyennganh" class="form-control" >
            <option value="">--lua chon--</option> 
            <option value="Phat trien phan mem">Phát Triển Phầm Mềm</option>
            <option value="Ung dung phan mem">Ứng Dụng Phầm Mềm</option>
            <option value="Lap trinh Website">Lập Trình Website</option>
        </select>
    </div>
    <div class="mt-2">
        <button ng-click="onClickCreate()" class="btn btn-success"> Tao moi</button>
    </div>

    <!-- khu vuc thong bao loi -->
    <!-- <div class="alert alert-danger mt-1" ng-hide="formStatus">
       {{formMessage}}
    </div> -->
</form>