<!-- <h3> trang taoj moi</h3> -->

<!-- khu vuc tieu de trang -->
<h3> tao moi san pham</h3>

<!-- khu vuc noi dung form -->
<form action="">
    <!-- khu vuc id -->
    <div>
        <span class="form-label">ID: </span>
        <input ng-model="product.id" class="form-control" type="text">
    </div>
     <!-- khu vuc name -->
     <div>
        <span class="form-label">Ten: </span>
        <input ng-model="product.name"class="form-control" type="text">
    </div>
     <!-- khu vuc price -->
     <div>
        <span class="form-label">Gia: </span>
        <input ng-model="product.price" class="form-control" type="text">
    </div>

    <!-- khu vuc category -->
    <div>
        <span class="form-label">Danh muc: </span>
        <select ng-model="product.category" class="form-control" >
            <option value="">--lua chon--</option>
            <option value="Binh Hoa">Binh Hoa</option>
            <option value="Do Bep">Do Bep</option>
            <option value="Do Nha Tam">Do Nha Tam</option>
        </select>
    </div>
    <div class="mt-2">
        <button ng-click="onClickCreate()" class="btn btn-success"> Tao moi</button>
    </div>

    <!-- khu vuc thong bao loi -->
    <div class="alert alert-danger mt-1" ng-hide="formStatus">
       {{formMessage}}
    </div>
</form>