<div class="row container-fluid d-flex">
    <div class="col-sm-6">
        <form class="mt-5">
            <h3 class="">Đăng Ký</h3>
            <div class="mb-3 mt-3">
                <label for="firstName" class="form-label">Họ:</label>
                <input ng-model="users.Ho" type="text" class="form-control" id="firstName" name="firstName" required>
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Tên:</label>
                <input ng-model="users.Ten" type="text" class="form-control" id="lastName" name="lastName" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input ng-model="users.Email" type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mật khẩu:</label>
                <input ng-model="users.Matkhau" type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-dark" ng-click="onClickDangky()">Đăng Ký</button>
        
            <div class="alert alert-danger mt-1" ng-hide="formStatus">
                {{formMessage}}
            </div> 
        
            
        </form>
        
        
    </div>
    
    <div class="col-sm-6">
        <form class="mt-5">
            <h3 class="">Đăng Nhập</h3>
            <div class="mb-3 mt-3">
                <label for="username" class="form-label">Tên đăng nhập hoặc Email:</label>
                <input type="text" class="form-control" id="username" name="username"  ng-model="users.Ten" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mật khẩu:</label>
                <input type="password" class="form-control" id="password" name="password" ng-model="users.Matkhau" required>
            </div>
            <div class="mb-3 form-check d-flex">
                <input type="checkbox" class="form-check-input" id="rememberMe">
                <label class="form-check-label" for="rememberMe">Ghi nhớ đăng nhập</label>
                <a href="" class="text-decoration-none">Quên mật khẩu?</a>
            </div>
        
            <button type="submit" class="btn btn-dark" ng-click="onClickDangnhap()">Đăng Nhập</button>
        </form>
    </div>
</div>
