<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB207_TaiNguyen_thuvien</title>

    <!-- Nhúng Bootstrap -->
    <link rel="stylesheet" href="lib/bootstrap.css">
    <script src="lib/bootstrap.js"></script>
    <script src="lib/angular.js"></script>
   
    <script>
        // Khởi tạo ng-app
        var app=angular.module('myApp', []);
        // Khởi tạo ng-controller
        app.controller('danhSachSanPhamCtrl',function($scope,$http){
            // console.log('hiiiiiiiiii');
            // 1. Khai báo các biến cần thiết
            $scope.danhSachSanPham=[];
            $scope.danhSachDanhMuc=[];
 
            // 2. call api lấy danh sách sản phẩm
            $http({
                method: 'GET',
               url:'http://localhost:3000/san-pham'
            }).then(function(response){
                //Viết code logic xử lý dữ liệu khi call api thành công 

                //log thử dữ liệu của biến response
                console.log("dữ liệu api trả về:", response.data);

                //1. gán giữ liệu vào biến $scope.danhSachSanPham
                $scope.danhSachSanPham= response.data;
            })

            // call api lấy danh sách danh mục 
            // $http({
            //     method:'GET',
            //     url:"http://localhost:3000/danh_muc"
            // }).then(function(response){
            //     //Viết code logic xử lý dữ liệu khi call api thành công 

            //     //log thử dữ liệu của biến response
            //     console.log("dữ liệu api trả về:", response.data);

            //     //1. gán giữ liệu vào biến $scope.danhSachSanPham
            //     $scope.danhSachSanPham= response.data;
            // })

            // $scope.onClickDanhMuc=function(id){
            //     console.log('danh muc được click:' +id);

            //     $http({
            //     method:'GET',
            //     url:"http://localhost:3000/san-pham",
            //     params:{
            //         idDanhMuc: id
            //     }
            // }).then(function(response){
            //     //Viết code logic xử lý dữ liệu khi call api thành công 

            //     //log thử dữ liệu của biến response
            //     console.log("dữ liệu api trả về:", response.data);

            //     //1. gán giữ liệu vào biến $scope.danhSachSanPham
            //     $scope.danhSachSanPham= response.data;
            // })
            // }
          })
       
    </script>
</head>

<body ng-app="myApp">
    <div class="container" ng-controller="danhSachSanPhamCtrl">
        <!-- Khu vực tiêu đề trang -->
        <h3>Danh sách sản phẩm</h3>

        <!-- Khu vực bộ lọc -->
        <!-- <span> lọc theo danh mục:</span> -->
        <!-- <button class="btn btn-light"  -->
        ng-repeat="item in danhSachDanhMuc"
        <!-- ng-click="onClickDanhMuc(item.id)">{{item.ten}}</button> -->
        <!-- Khu vực button chính -->
        <div class="d-flex justify-content-end">
            <button class="btn btn-success">Tạo mới sản phẩm</button>
        </div>

        <!-- Khu vực table -->
        <table class="table table-bordered mt-2">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ảnh</th>
                    <th>Tên sản phẩm</th>
                    <th>Danh mục</th>
                    <!-- <th>Trạng thái</th> -->
                    <th>Tương tác</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in danhSachSanPham">
                    <td>{{item.id}}</td>
                    <td> 
                        <div class="border rounded bg-light overflow-hidden d-flex justify-content-center align-items-center"
                        style="width: 100px; height: 100px;">
                            <img src="img/san-pham_ao-len-01.jpeg" class="mw-100 mh-100">
                        </div>
                    </td>
                    <td>{{item.ten}}</td>
                    <td>{{item.tenDanhMuc}}</td>
                    <!-- <td> -->
                        <!-- <span class="badge bg-success rounded-pill">Còn hàng</span> -->
                        <!-- <span class="badge bg-danger rounded-pill">Hết hàng</span> -->
                    <!-- </td> -->
                    <td style="width: 1px;" class="text-nowrap">
                        <button class="btn btn-primary btn-sm">Xem</button>
                        <button class="btn btn-warning btn-sm">Sửa</button>
                        <button class="btn btn-danger btn-sm">Xoá</button>
                    </td>
                </tr>

                
                
            </tbody>
        </table>


        <!-- Khu vực phân trang -->
        <!-- <div class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div> -->
    </div>

</body>

</html>