<h1>trnag tao moi</h1>
<!-- <form action="">

<div>
    <span class="form-label">ID:</span>
    <input ng-model="product.id" class="form-control" type="text">
</div>
<div>
    <span class="form-label">Ho ten:</span>
    <input ng-model="product.hoten" class="form-control" type="text">
</div>

<div>
    <span class="form-label">Nam sinh:</span>
    <input ng-model="product.namsinh" class="form-control" type="text">
</div>

<div>
    <span class="form-label">Chuyen nganh:</span>
    <select ng-model="product.chuyennganh">
        <option value="">Phát Triển Phầm Mềm </option>
        <option value="">Ứng Dụng Phầm Mềm </option>
        <option value="">Lập Trình Website</option>
    </select>
</div>
<div class="mt-2">
    <button ng-click="onCickCreate()" class="btn btn-success">Tao Moi</button>
</div>


</form> -->