<h3>danh sach</h3>
<div class="d-flex justify-content-end">
    <a href="#!create" class="btn btn-success">tao moi</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>ten</th>
            <th>hang</th>
            <th>gia</th>
            <th>chuc nang</th>
        </tr>
    </thead>
    <tbody ng-repeat="item in danhsachDT">
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.ten}}</td>
            <td>{{item.hang}}</td>
            <td>{{item.gia}}</td>
            <td>
                <a class="btn btn-primary" href="#!detail/{{item.id}}">chi tiet</a>
                <a class="btn btn-warning" href="#!edit/{{item.id}}">sua</a>
                <button ng-click="XOA(item.id)" class="btn btn-danger">xoa</button>
            </td>
        </tr>
    </tbody>

</table>